body{
    background:green;
    text:red;
}
a{
color:black;
}

a:hover{
color:white;
background:yellow;
}
h1{
font-size:sans-serif;
font size:40pt;
}
.jcb {
      margin=left:10px;
}
.below_gap {
          margin-bottom: 30px;
}
@media (min-width:500px){
body{
   background: red;
    }
}
@media (min-width:1000px){
body{
     background: yellow;
 }
}
